@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide the injected Vercel/Next.js logo */
body > svg {
  display: none !important;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(0);
  animation: ripple-effect 0.6s linear;
}

@keyframes ripple-effect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
